<p>
{{Note}}
</p>
<hr id=answer>
<p>
{{Highlight}}
</p>
<div>
{{Image}}
</div>
</br>
</br>
<div class=source>
<a href="{{Book URL}}"><div>{{Cover}}<br></div></a>
<div class=source-info>
<a href="{{Chapter URL}}">{{Chapter}}</br></a>
<a href="https://learning.oreilly.com/search/?query=author%3A{{Author}}">{{Author}}</br></a>
</div>
</div>
