<div class=card>
<p>{{Note}}</p>
<hr id=answer>
<div class=back>
<p>{{Highlight}}</p>
</div>
<div>
{{Image}}
</div>
</br>
</br>
</br>
<div class=source>
<a href="{{Chapter URL}}">
<div class=cover>{{Cover}}<br></div></a>
<div class=source-info>
<a id="chapter" href="{{Chapter URL}}">{{Chapter}}</br></a>
<a id="author" href="https://learning.oreilly.com/search/?query=author%3A{{Author}}">{{Author}}</br></a>
</div>
</div>
</div>
