<div class=card>
<p>
{{Note}}
</p>
<hr id=answer>
</br>
</br>
<div class=source>
<a href="{{Book URL}}">
<div class=cover>{{Cover}}<br></div></a>
<div class=source-info>
<a id="chapter" href="{{Chapter URL}}">{{Chapter}}</br></a>
<a id="author" href="https://learning.oreilly.com/search/?query=author%3A{{Author}}">{{Author}}</br></a>
</div>
</div>
