appdirs==1.4.3
attrs==19.3.0
black==19.10b0
cached-property==1.5.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
entrypoints==0.3
flake8==3.7.9
frozendict==1.2
genanki==0.8.0
idna==2.9
incremodoro==0.1.0
mccabe==0.6.1
pathspec==0.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pystache==0.5.4
PyYAML==5.3.1
regex==2020.4.4
requests==2.23.0
toml==0.10.0
typed-ast==1.4.1
urllib3==1.25.9
