@font-face {
    font-family: Ubuntu;
    src: url('ubuntu-regular-webfont.ttf');
}

@font-face {
    font-family: Ubuntu-Mono;
    src: url('UbuntuSansMono-Regular.ttf');
}

hr {
    border: 1px solid #E95420;
}

.card {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #f4a261;
}

.back {
    font-size: 18px;
}

.source {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-align: left;
    color: #E95420;
    width: 100px;
    bottom: 20px;
    left: 20px
}

.cover {
    background-color: #111111;
    /* Darker aubergine */
    padding: 0 0 3px 3px;
    /* Padding only at the top and left */
    margin: -5px 5px 0 0;
    /* Pull the box back to compensate for padding */
    border-radius: 5px;
}

.source-info {
    width: 300px;
    word-wrap: break-word;
    color: #E95420;
}

.cloze {
    font-weight: bold;
    color: #E95420;
    /* Ubuntu Orange */
}

#chapter {
    color: #924D8B;
    background-color: transparent;
    text-decoration: none;
}

#author {
    color: #924D8B;
    background-color: transparent;
    text-decoration: none;
}

pre {
    background: #2C001E;
    /* Deep aubergine */
    border: 1px solid #772953;
    border-left: 3px solid #E95420;
    color: #FFFFFF;
    page-break-inside: avoid;
    font-family: Ubuntu-Mono;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
    border-radius: 5px;
}