@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    background-color: #E95420;
    /* Ubuntu Orange */
    color: #FFFFFF;
    /* White text for contrast */
    font-family: 'Ubuntu', sans-serif;
}

.card {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #333333;
    /* Dark gray for contrast */
    background-color: #772953;
    /* Ubuntu aubergine */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.source {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-align: left;
    color: #FFFFFF;
    width: 100px;

}

.source-info {
    width: 300px;
    word-wrap: break-word;
    color: #FFFFFF;
}

.cloze {
    font-weight: bold;
    color: #E95420;
    /* Ubuntu Orange */
}

pre {
    background: #2C001E;
    /* Deep aubergine */
    border: 1px solid #772953;
    border-left: 3px solid #E95420;
    color: #FFFFFF;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
    text-align: left;
    border-radius: 5px;
}
